
.navbar-top-all{
    background-color: rgba(248, 249, 250, 0.8) !important; /* Use rgba for transparency */
    position: sticky;
    top: 0;
    z-index: 999;
}


.navbar-top-all .nav-link.active {
    /* color: #ff4500;  */
    font-weight: bold; 
    border-bottom: 3px solid #f04a0e;
    color:rgb(127, 128, 131) ;
margin-top: -10px;

 
  }
  

/* CSS for Tablet Screens */
@media only screen and (min-width: 768px) {
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto !important;
    }
  
    .navbar-nav {
      margin-left: auto;
    }
  
    .ml-auto {
      margin-left: 0;
    }
  }
  
  /* CSS for Mobile Screens */
  @media only screen and (max-width: 767px) {
    .navbar-collapse {
      justify-content: center !important;
      gap: 20px !important;
      margin-left: 0 !important;
    }
  
    .mr-auto{
      margin-left: 0 !important;
      margin-top: 10px;
      text-align: center;
    }
    .ml-auto{
        position: relative;
        left: -240px;
       
    }
  }
  