
.navbar-top-all{
    background-color: white !important;
    position: sticky;
    top: 0;
    z-index: 999;
}



/* CSS for Tablet Screens */
@media only screen and (min-width: 768px) {
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto !important;
    }
  
    .navbar-nav {
      margin-left: auto;
    }
  
    .ml-auto {
      margin-left: 0;
    }
  }
  
  /* CSS for Mobile Screens */
  @media only screen and (max-width: 767px) {
    .navbar-collapse {
      justify-content: center !important;
      gap: 20px !important;
      margin-left: 0 !important;
    }
  
    .mr-auto{
      margin-left: 0 !important;
      margin-top: 10px;
      text-align: center;
    }
    .ml-auto{
        position: relative;
        left: -240px;
       
    }
  }
  