*{
    margin:0;
  }
  
      
    .woman{
  height: auto;
  background: rgba(250, 108, 42, 0.803);
  background: linear-gradient(349deg, rgba(195,34,170,0) 0%, rgba(250, 108, 42, 0.84) 55%);
  padding: 20px;
  z-index: 999;
  margin-top: 100px;
  
   }
   .d-block{
    filter: blur(8px);
    -webkit-filter: blur(8px);
   }
  
    .hero-all-text{
  margin-top:100px;
  
    
    }
    .Exclusive{
        font-family: 'Poppins', sans-serif;
    color: rgb(244, 246, 246);
      font-size: 86px;
      font-weight: 600;
      margin-left:20px;
  
    }
  
    .Offers-For-You{
      color: rgb(239, 240, 242);
      font-size: 100px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
    }

    .BEST-SELLER{
        color: rgb(243, 237, 237);
      font-size: 20px;
      margin-left: 20px;
      font-weight: 900;
      font-family: 'Poppins', sans-serif;
    }
    .Check-Now{
      display: flex;
      align-items: center;
      justify-content: center;
      gap:15px;
      width:307px;
      height:70px;
      border-radius:75px;
      margin-top:30px;
      background:#ee0303;
      color:white;
    font-size:22px;
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    cursor: pointer;
   
    }
    .img-fluid-woman{
        height: 400px;
        width: 600px;
        margin-top: 90px;
    }